body {
	font-family: 'VT323', monospace;
	font-size: 2em;
}

footer {
	text-align: center;
}

/* Horizontal battlefield */
.panel-horizontal {
	width: 100%;
	display: table;
}

.panel.panel-horizontal >.panel-body,
.panel.panel-horizontal >.panel-heading,
.panel.panel-horizontal >.panel-footer {
	display: table-cell;
	text-align: center;
	border: 0px;
	vertical-align: center;
}

.panel.panel-horizontal >.panel-heading,
.panel.panel-horizontal >.panel-footer {
	width: 25%;
}

/* Player cards */
.thumbnail {
	width: 150px;
	height: 200px;
	min-width: 150px;
	min-height: 200px;
	margin-right: 10px;
	border: solid 2px lightgrey;
}

.thumbnail:last-child {
	margin-right: 0;
}

/* Battle panels */
#opponent-panel img {
	float: left;
}

#attack-panel {
	background-color: oldlace;
}

#defend-panel {
	background-color: aliceblue;
}

.active-player img {
	margin: auto;
	margin-bottom: 20px;
}

#battlefield {
	position: relative;
	background-image: url(../images/sky_brick_bg.png);
	background-size: cover;
}

#battle-stats {
	position: absolute;
	bottom: 60px;
	width: 100%;
}

#attack-btn {
	position: relative;
    top: 80px;
}