/* Battlefield */
.panel-horizontal {
	width: 100%;
	display: table;
}

.panel.panel-horizontal >.panel-body,
.panel.panel-horizontal >.panel-heading,
.panel.panel-horizontal >.panel-footer {
	display: table-cell;
	text-align: center;
	border: 0px;
	vertical-align: center;
}

.panel.panel-horizontal >.panel-heading,
.panel.panel-horizontal >.panel-footer {
	width: 25%;
}

.active-player {
	width: 100%;
}
.thumbnail {
	float: left;
	width: 150px;
	height: 200px;
	margin-right: 10px;
}

.thumbnail:last-child {
	margin-right: 0;
}

#attack-panel {
	background-color: oldlace;
}
.defender {
	background-color: aliceblue;
}